<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Online Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" >
      <ul class="nav navbar-nav navbar-right ml-auto">
        <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link" %></li>
        <!--login or myProfile-->
        <% if customer_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Welcome <%= current_customer.email%>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">My profile</a>
              <a class="dropdown-item" href="#">My orders</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" data-method="delete" href="/customers/sign_out">Signout</a>
            </div>
          </li>
        <% else%>
        <li class="nav-item">You are not loged in</li>

        <% end %>
        <!--/login or myProfile-->
      </ul>
    </div>
  </div>
</nav>