@import "bootstrap.min";
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
.main_play_ground{
  min-height: 600px;
}
h1{
  @extend .my-4
}

#sider{
  form{
    display: inline-flex;
  }
}

footer{
  @extend .fixed-bottom
}